{% extends "layouts.master" %}

{% block content %}
<div style="padding:40px;text-align:center">
    <h1>LA VISTA</h1>
    <p>test ok</p>
</div>
{% component home %}
{% endblock %}

{% block scripts %}{% endblock %}
